<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <a href="/" class="pokedex">
            <h1>POKEDEX</h1>
        </a>
        <nav>
            <a href="/pokemon" class="nav">List</a>
        </nav>
    </header>
    <div class="container">
        <h2>Edit Pokemon</h2>
        <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" value="<%= pokemon.name; %>" />
                </div>
                <div class="form-group col-md-6">
                    <label for="type">Type</label>
                    <input type="text" name="type" class="form-control" value="<%= pokemon.type; %>" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <label for="img">Image</label>
                <input type="text" name="img" class="form-control" value="<%= pokemon.img; %>"/>
            </div>

            <div class="form-group col-md-12">
                <label for="stats">Stats</label>
                <div class="stats">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Hp</label>
                            <input type="number" name="stats[hp]" class="form-control" min='10' max='200' value="<%= pokemon.stats.hp; %>"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Attack</label>
                            <input type="number" name="stats[attack]" class="form-control" min='10' max='200' value="<%= pokemon.stats.attack; %>"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Defense</label>
                            <input type="number" name="stats[defense]" class="form-control" min='10' max='200' value="<%= pokemon.stats.defense; %>"/>
                        </div>
                        <div class="form-group col-md-6">
                        <label>Spattack</label>
                        <input type="number" name="stats[spattack]" class="form-control" min='10' max='200' value="<%= pokemon.stats.spattack; %>"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Spdefense</label>
                        <input type="number" name="stats[spdefense]" class="form-control" min='10' max='200' value="<%= pokemon.stats.spdefense; %>"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Speed</label>
                        <input type="number" name="stats[speed]" class="form-control" min='10' max='200' value="<%= pokemon.stats.speed; %>"/>
                    </div>
                </div>
            </div>
    </div>
    <input type="submit" class="btn btn-primary create" value="Submit">
    </form>
    </div>
</body>

</html>