<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https:/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <header>
        <a href="/" class="pokedex">
            <h1>POKEDEX</h1>
        </a>
        <nav>
            <a href="/pokemon" class="nav">List</a>
            <a href="/pokemon/new" class="nav">Create</a>
            <a href="/pokemon/<%=index%>/edit" class="nav">Edit</a>
        </nav>
    </header>
    <div class="show">
        <img src="<%= pokemon.img; %>">
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Name</a></li>
                <li><a href="#tabs-2">Classification</a></li>
                <li><a href="#tabs-3">Type</a></li>
                <li><a href="#tabs-4">Stats</a></li>
                <li><a href="#tabs-5">Size</a></li>
                <li><a href="#tabs-6">Damages</a></li>
            </ul>
            <div id="tabs-1">
                <p><%= pokemon.name; %></p>
            </div>
            <div id="tabs-2">
                <p><%= pokemon.misc.classification; %></p>
            </div>
            <div id="tabs-3">
                <ul>
                    <% pokemon.type.forEach((item) => { %>
                    <li><%= item; %></li>
                    <% }) %>
                </ul>
            </div>
            <div id="tabs-4">
                <ul>
                    <% for(let key in pokemon.stats) { %>
                    <li><%= key; %> : <%= pokemon.stats[key]; %></li>
                    <% } %>
                </ul>
            </div>
            <div id="tabs-5">
                <p>Weight: <%= pokemon.misc.weight; %></p>
                <p>Height: <%= pokemon.misc.height; %></p>
            </div>
            <div id="tabs-6">
                <ul>
                    <% for(let key in pokemon.damages) { %>
                    <li><%= key; %> : <%= pokemon.damages[key]; %></li>
                    <% } %>
                </ul>
            </div>

        </div>
    </div>
</body>

</html>